*.o
*.lo
*.a
*.so*
*.la
*.exe
ffmsindex

Makefile
/config.log
/config.status
/libtool
/ffms2.pc
/shave/shave
/shave/shave-libtool
.deps
.libs
stamp-h1
/autom4te.cache

# /
/testing
/todo.txt

# /build-msvc/
/build-msvc/*.suo
/build-msvc/*.user
/build-msvc/Debug
/build-msvc/Release
/build-msvc/ffms2.ncb
/build-msvc/ffmsindex
/build-msvc/ffmstest

# /src/config/
/src/config/config.h
/src/config/auto_config.h
