
# /
/.gitignore
/Makefile
/autom4te.cache
/config.log
/config.status
/deps
/ffms2.pc
/libtool
/testing
/todo.txt
/.clangd/
.projectile
compile_commands.json


# /build-msvc/
/build-msvc/*.sdf
/build-msvc/*.suo
/build-msvc/*.user
/build-msvc/ffms2.ncb
/build-msvc/ffmsindex
/build-msvc/bin
/build-msvc/obj

# /src/config/
/src/config/config.h
/src/config/config.h.in~
/src/config/auto_config.h
/src/config/stamp-h1

# /src/core/
/src/core/.deps
/src/core/.libs
/src/core/.dirstamp
/src/core/*.o
/src/core/*.lo
/src/core/*.la

# /src/index/
/src/index/.deps
/src/index/.libs
/src/index/.dirstamp
/src/index/*.o
/src/index/*.exe
/src/index/ffmsindex

# /src/vapoursynth/
/src/vapoursynth/.deps
/src/vapoursynth/.libs
/src/vapoursynth/.dirstamp
/src/vapoursynth/*.o
/src/vapoursynth/*.lo

# /test
/test/samples
/test/.libs
/test/*.o
/test/indexer
