<?xml version="1.0" encoding="utf-8"?>
<Rule Name="FFmpegConfig"
    DisplayName="FFmpeg Settings"
    Order="1"
    PageTemplate="tool"
    xmlns="http://schemas.microsoft.com/build/2009/properties">

  <Rule.DataSource>
    <DataSource Persistence="UserFile" ItemType="" HasConfigurationCondition="false" />
  </Rule.DataSource>

  <EnumProperty
    Name="ForkName"
    DisplayName="Fork name"
    Description="Which of the forks is being used?"
    >
    <EnumValue Name="libav" DisplayName="Libav" />
    <EnumValue Name="ffmpeg" DisplayName="FFmpeg" />
  </EnumProperty>

  <BoolProperty
    Name="BuiltWithGCC"
    DisplayName="Built with GCC/clang"
    Description="Was FFmpeg/libav built with GCC or clang rather than msvc?"
    />

  <BoolProperty
    Name="OpencoreAmrNb"
    DisplayName="Opencore AMR narrowband enabled"
    Description="Was FFmpeg/libav built with Opencore amrnb enabled?"
    />

  <BoolProperty
    Name="OpencoreAmrWb"
    DisplayName="Opencore AMR wideband enabled"
    Description="Was FFmpeg/libav built with Opencore amrwb enabled?"
    />

  <BoolProperty
    Name="WithPthread"
    DisplayName="Built with pthreads"
    Description="Was FFmpeg/libav built with pthreads rather than w32threads?"
    />

  <BoolProperty
    Name="WithAvResample"
    DisplayName="Enable audio resampling"
    Description="Requires libavresample 1.0.0 or newer"
    />

</Rule>
