body {
	background-color: #fffffb;
	font-family: sans-serif;
	font-size: 9pt;
	text-align: center;
}
table {
	border-collapse: collapse;
	margin: 3pt;
	font-family: sans-serif;
	font-size: 9pt;
}
td {
	padding: 1pt;
	padding-left: 3pt;
	padding-right: 3pt;
}
td.minpadding {
	padding: 1pt;
}
th {
	padding: 1pt;
	padding-left: 3pt;
	padding-right: 3pt;
}
a:link {
	color: #40b070;
}
a:visited {
	color: #103020;
}
h1, h2, h3 {
	margin: 1.2em 0em -0.2em;
}
h4 {
	margin: 0em 0em -0.5em;
	text-decoration: underline;
}
.deprecated {
	color: red;
}
img {
	border-width: 0px;
}
img.w3cicon {
	width: 88px;
	height: 31px;
}
body div.maincontent {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width: 90%;
}

.avisynth-functionref dt {
	font-family: monospace;
	padding: 5px 3px 3px 3px;
}

