name: Make Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        cc: [gcc, clang]
        exclude:
          - os: macos-latest
            cc: gcc

    steps:
    - uses: actions/checkout@v2
    - name: install deps (ubuntu)
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt-get update
        sudo apt-get install autoconf automake wget ffmpeg
    - name: install deps (macOS)
      if: matrix.os == 'macos-latest'
      run: |
        brew update
        brew install autoconf automake wget ffmpeg
    - name: configure
      run: ./autogen.sh --enable-static --disable-shared
    - name: make
      run: make V=1 CXXFLAGS='-Werror -Wno-error=deprecated-declarations' -j2 -k
    - name: make test
      run: |
        make test-sync
        make test -j2 -k
